<% include header %>
<p>Hello
  <b>
    <%= customerName %></b>
</p>
<br />
<p>Thank you for signing up for PakigXpress! We look forward to serving your shipping needs. Please keep this email
  archived and review the instructions below:</p>
<br />
<p>To send an order:</p>
<p>Simply ship your package to our location with PakigXpress, Your Name, and Your ID# in the address "To" field.</p>
<br />
<p>Example:</p>
<p>PakigXpress John Doe 1234567</p>
<p>16600 NW 54th, Ave</p>
<p>Unit #20</p>
<p>Miami Gardens, FL 33014</p>
<br />
<p>To view your orders and statuses, please log in to <a href="http://pakigxpress.com">pakigxpress.com</a></p>
<br />
<p>Thank you,</p>
<p>The PakigXpress Team</p>
<% include footer %>