<% include header %>
<p>Hello
  <b>
    <%= customerName %></b>
</p>
<br />
<p>We have received payment for your 12/12/12. Thank you for using PakigXpress.</p>
<br />
<p>Thank you,</p>
<p>The PakigXpress Team</p>
<% include footer %>