<% include header %>
<p>Hello
  <b>
    <%= customerName %></b>
</p>
<br />
<p>Please visit the following link to change your password</p>
<br />
<p>Thank you,</p>
<p>The PakigXpress Team</p>
<% include footer %>